<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jspfinalwork.mapper.PermissionMapper">
    <resultMap id="keyResultMap" type="com.example.jspfinalwork.pojo.key">
        <id property="key" column="key"/>
        <result property="ifchange" column="ifchange"/>
        <result property="ifdelete" column="ifdelete"/>
    </resultMap>

    <select id="getAllKeys" resultMap="keyResultMap">
        SELECT * FROM [dbo].[keys]
    </select>

    <select id="getPermission" resultMap="keyResultMap" parameterType="java.lang.String">
        SELECT * FROM [dbo].[keys] WHERE [key] = #{key}
    </select>

    <update id="changePermission" parameterType="com.example.jspfinalwork.pojo.key">
        UPDATE [dbo].[keys] SET ifchange = #{ifchange}, ifdelete = #{ifdelete} WHERE [key] = #{key}
    </update>
</mapper>